@font-face {
  font-family: teko;
  src: url(Teko-VariableFont_wght.ttf);
}

body{
  background-color: black;
}

.dopc{
  border-radius: 12px;
  font-family: "teko", serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  background-color: #00c1df;
  /* background-color: #00a5c1; */

  display: flex;              
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: 1em;
}

.dopc > * {
  width: calc(100% - 2em);
  padding: 1em;
  text-align: center;
}

div{
  background-color: #00a5c1;
  /* background-color: #00c1df; */
  /* border: #242424 1px solid; */
  border-radius: 8px;
}

div .separator{
  border: #00c1df 1px solid;
  height: 0px;
  padding: 0;
  margin: 0.5em 0;
}

button{
  background-color: #011a24;
  color: #139dd5;
  padding: 1em;
  border-radius: 6px;
  margin: 2px;
}

input{
  border-radius: 4px;
}

.hide{
  display: none;
}